*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(91, 115, 134);
}

.main-container {
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}

.word-container {
  margin-bottom: 50px;
}

.word-container span {
  font-size: 60px;
}

.word-container > span {
  border-bottom: 3px solid black;
  margin-left: 10px;
}

.keyboard-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.keyboard-container button {
  aspect-ratio: 1/1;
}

.title {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  margin: 0 100px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scores,
.btn-container {
  display: flex;
  flex-direction: column;
}

.btn-container button {
  margin-top: 0px;
  margin-right: 0 !important;
  margin-left: 0;
  margin-bottom: 10px;
}

.win {
  color: darkgreen;
}

.lose {
  color: crimson;
}


.hint{
  max-width: 400px;
  background-color: #fff;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
}

.hint p{
  margin: 0;
}

.btn-group{
  margin-top: 50px;
  float: right;
}

.btn-group button {
  margin-right: 10px;
}